body {
	background: #f0f0f0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

/*Login*/
.FormCajaLogin {
	width: 100%;
	height: 100%;
	display: grid;
	background: url(fondo.png) no-repeat center center fixed;
	text-align: center;
}

.FormLogin {
	background-color: rgba(0, 0, 0, 0.5);
	width: 400px;
	margin: auto;
	padding: 2em;
	border-radius: 6px;
	color: white;
	border: 0.1em solid black;
	text-align: center;
}

.TextoCajas {
	margin-left: 8%;
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 4%;
	color: white;
	text-align: left;
}

.CajaTexto {
	width: 80%;
	padding: 10px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
}

.CheckBox1 {
	text-align: left;
	margin: 5% auto 5% 10%;
}

.BtnRegistrar {
	width: 80%;
	text-decoration: none;
	padding: 10px 30px;
	cursor: pointer;
	border: 0;
	border-radius: 10px;
	border: 1px solid black;
	font-size: 18px;
	color: white;
	background-color: green;
	font-weight: bold;
	margin-bottom: 5%;
}

.BtnLogin {
	width: 80%;
	padding: 10px 30px;
	cursor: pointer;
	border: 0;
	border-radius: 10px;
	border: 1px solid black;
	font-size: 18px;
	color: white;
	background-color: #1b68df;
	font-weight: bold;
	margin-bottom: 5%;
}

.NomUsuario {
	font-size: 18px;
	color: white;
	word-break: break-all;
}

/*Panel*/
.BarraLateral {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #0a495c;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.BarraLateral ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.BarraLateral li {
	text-align: center;
	margin-bottom: 14px;
	padding: 12px 10px;
	border-radius: 5px;
	border: 2px solid rgb(133, 161, 8);
	background: linear-gradient(180deg, #6596be, #045252);
}

.BarraLateral a {
	color: white;
	text-decoration: none;
}

.ContenedorPrincipal {
	margin-left: 200px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

@media (max-width: 768px) {
	.BarraLateral {
		width: 100%;
		height: auto;
		position: relative;
	}

	.ContenedorPrincipal {
		margin-left: 0;
	}
}

/*Tabla*/
table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
	background-color: #1492b9;
	color: white;
}

th,
td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #dddddd;
}

.ContenedorTabla {
	margin-left: auto;
	margin-right: auto;
	max-width: 1260px;
	width: 100%;
}
.BotonesUsuarios {
	text-align: center;
	display: inline-block;
	background: rgb(168, 91, 3);
	padding: 6px 10px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	border: 2px solid black;
	cursor: pointer;
	font-size: 16px;
}

/*CajaPopUp*/
.contenedor_popup {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 400px;
	transition: all 0.2s;
	background-color: white;
}

.caja_popup2 {
	display: block;
	position: absolute;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}
